
fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.32
pydantic==2.9.2
pydantic-settings==2.4.0
email-validator==2.2.0
python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
